{% extends "predict/base.html" %}
{% block content %}
<body>

<article>
    <header>
    <h1>Стохастическое моделирование</h1>
    </header>
    <p style="text-indent: 40px" align="justify">
            Стохастическая модель — это инструмент для оценки вероятностных распределений потенциальных результатов, допускающий случайные изменения одного или нескольких входных данных с течением времени. Случайная вариация обычно основана на колебаниях, наблюдаемых в исторических данных за выбранный период с использованием стандартных методов построения временных рядов.

        Стохастическое моделирование используется в различных областях по всему миру. Страховая отрасль, например, в значительной степени полагается на стохастическое моделирование, чтобы предсказать, как балансы компаний будут выглядеть в определенный момент в будущем. Другие сектора, отрасли и дисциплины, зависящие от стохастического моделирования, включают в себя инвестирование в акции, статистику, биологию и квантовую физику.
    </p>
    <p style="text-indent: 40px">
        Этот проект позволяет использовать вам стохастические модели в нашей работе без особых результатов.
    </p>
</article>

</body>
{% endblock content %}