{% extends "predict/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'predict/stoch_model.css' %}">

<form method=post action="" id="form" >{% csrf_token %}
    <table width=450>
      {% for field in form %}
        <tr>
        <td>{{ field }}</td>
        <td>{{ field.label }}</td>
        <td>{{ field.errors }}</td>
        <td></td>
        </tr>
      {% endfor %}
    </table>
<p><input type=submit value=Compute></form></p>
    
<div id="image">
  </figure>
    {% if result != None %}
    {% load static %}
    <img src="{% get_static_prefix %}{{ result }}" width=500>
    {% endif %}
  </figure>
</div>


<div id="formula">
  </figure>
    {% load static %} <img src="{% static "predict/media/stoch_formulas.png" %}" width=700 alt="home" />
  </figure>
</div>

{% endblock content %}