{% extends "predict/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'predict/Vasicek_model.css' %}">

<form method=post action="">{% csrf_token %}
    <table>
      <p>Модель Васичека</p>
      {% for field in form %}
        <tr>
        <td>{{ field }}</td>
        <td>{{ field.label }}</td>
        <td>{{ field.errors }}</td>
        <td></td>
        </tr>
      {% endfor %}
    </table>
<p><input type=submit value=Compute></form></p>
    
<p>
  {% if result != None %}
  {% load static %}
  <img src="{% get_static_prefix %}{{ result }}" width=500>
  {% endif %}
</p>

<div id="formula">
  </figure>
    {% load static %} <img src="{% static "predict/media/formula_vas.png" %}" alt="home" />
  </figure>
</div>

{% endblock content %}